{% extends "base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="object-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y"}}</small>
            </div>
            <h2 class="bill-title">{{ object.title }}</h2>
            <br>
            <p class="bill-content">{{ object.content }} - ${{ object.cost }}</p> 
        </div>    
    </article> 
{% endblock content %}
