{% extends "bill_share/base.html" %}
{% block content %}
    <h1>Sign-up</h1>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Bill</legend>
                    <h2>Are you sure you would like to delete bill... 
                        <br><br> "{{ object.title }}"?</h2>
                
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Confirm Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'bill-detail' object.id %}">Cancel</a>
            </div>
        </form>
        <div class="border-top pt-3">
        </div>
    </div>
{% endblock content %}