{% extends "bill_share/base.html" %}
{% block content %}
    <article class="media content">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="object-metadata">
                <a class="mr-2 content-title row" href="#">{{ object.author }}</a>
                <small class="text-muted row">{{ object.date_posted|date:"F d, Y"}}</small>
                <br>
                <p class="bill-title row">{{ object.title }}</p>
                <div class="row">
                <p class="bill-title text-danger">${{ object.cost }}</p>
                </div>

                <p class="bill-content row">{{ object.content }} </p> 
                {% if object.author == user %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bill-update' object.id %}">Update</a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bill-delete' object.id %}">Delete</a>
                {% endif %}
            </div>

        </div>    
    </article> 
{% endblock content %}
